.dw-container {
	font-size: 1rem;
	display: inline-block;
	width: 100%;
	border: 1px solid #ccc;
	box-sizing:border-box;
	padding: 20px;
	font-family: 'roboto','맑은고딕',malgungothic, sans-serif;
	clear: both;

	&* {
		box-sizing:border-box;
	}

	ul {
		list-style:none;
		margin-left:0;
		li {
			list-style:none;
			line-height:1.4em;
		}
	}
	
	a {
		color: #000;
		&:hover {
			color: #a1671f !important;
		}
		text-decoration: none !important;
		box-shadow: none !important;
	}

	button, input[type="button"], input[type="submit"] {
		border:none;
		&:hover {
			color:#fff;
		}
	}

	.hide {
		display: none;
		margin:0 !important;
		padding:0 !important;
	}

	#search-item {
		> form {
			input {
				width:calc(100% - 90px);
				height: 40px;
			}
			button {
				height: 40px;
				width: 80px;
			}
		}
	}

	#search-result {
		box-sizing:border-box;
		clear:both;
		margin-bottom: 20px;
		padding: 10px;
		display:inline-block;
		width:100%;

		p.searchinfo {
			width:100%;
			text-align:center;
			font-weight: bold;
			color:#2870c9;
		}
		p.reload {
			text-align:center;
			padding:8px;
			background-color:#547acc;
			color:#fff;
			&:hover {
				background-color:#293b5f;
			}
			a {
				text-decoration:none;
				color:#fff;
				display: block;
				width:100%;
				height:100%;
				&:hover {
					color:#fff;
				}
			}
		}
		article {
			display: inline-block;
			width:100%;
			border-bottom:1px solid #cccccc;
			padding:10px 0;
			&:last-child {
				border:none;
			}
			.no {
				float:left;
				width: 50px;
				margin-right:10px;
				text-align:center;
			}
			dl {
				margin:0 !important;
				float:left;
				width:calc(100% - 60px);
				dt {
					a {
						margin-left:20px;
					}
				}
				dd {
					margin:0 !important;
					p {
						margin:0;
					}
				}
			}
		}
	}
	

	h3 {
		margin: 0 0 5px 0;
	}
	ul {
		list-style: none;
		&.depth-root {
			column-count: 2;
			column-gap:40px;
			margin:0;
			> li {
				display: inline-block;
				padding: 5px;
				font-weight: bold;
				width: 100%;
				> ul.sub-category {
					border-top: 1px solid #ccc;
					width: 100%;
					color: #000;
					font-weight: normal;
					padding: 10px 0;
					margin:0;
				}
			}
		}
		&.sub-category {
			display: inline-block;
			width:100%;
			column-count:3;
			margin:0 0 20px 0;
		}
	}
	.sub-category li {
		margin: 5px;
		text-align: left;
		min-width: 10%;
		font-size: 0.9em;
		
		&:before {
			content: '\f0da';
			font-family: 'FontAwesome';
			color: #eac286;
			margin-right: 5px;
		}
	}
	ul.second-cat > li {
		display: inline-block;
		margin-right: 20px;
	}
	.clear {
		clear: both;
	}
	table.sub-child-contents {
		border-collapse: collapse;
		border-top: 2px solid #ccc;
		border-bottom: 2px solid #ccc;
		border-left: none;
		border-right: none;
		td {
			border: none;
			border-bottom: 1px solid #eee;
		}
		tr:hover td {
			background-color: #fcf9ec;
		}
	}
}

@media (max-width: 414px) {
	.dw-container ul.sub-category {
		column-count: 1;
	}
}

@media (min-width: 415px) and (max-width: 768px) {
	.dw-container ul.sub-category {
		column-count: 2;
		column-gap: 20px;
	}
}

table.dw-content {
	border-top: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
	border-left: none;
	border-right: none;
	border-collapse: collapse;
	tr {
		&:hover td {
			background-color: #fcf9ec;
		}
		> td {
			border: none;
			border-bottom: 1px solid #eee;
			padding: 8px;
			line-height: 1.3em;
			&:nth-child(1) {
				width: 7%;
				text-align: center;
			}
			&:nth-child(2), &:nth-child(3) {
				width: 30%;
			}
			&:nth-child(4) {
				width: 33%;
			}
			&:nth-child(3) > a {
				text-decoration: none;
			}
		}
	}
}

ul.dw-pagination {
	list-style: none;
	float: left;
	li {
		display: inline-block;
		border: 1px solid #ccc;
		line-height: 25px;
		width: 25px;
		height: 25px;
		margin: 0 2px;
		text-align: center;
		&.active {
			background-color: #a37b1f;
			color: #fff;
		}
		a {
			display: block;
			width: 100%;
			height: 100%;
			&:hover {
				background-color: #a37b1f;
				color: #fff;
			}
		}
		&.prev, &.next {
			width: 40px;
		}
	}
}

.dw-catbox {
	border-radius: 8px;
	display: inline-block;
	padding: 10px;
	background-color: #eff4ea;
	width: 100%;
	fieldset {
		border: none;
		label {
			clear: both;
			display: block;
			margin-top: 10px;
		}
		select {
			display: inline-block;
			height: 40px;
		}
	}
	input[type="text"], textarea {
		background-color: #fff;
	}
	fieldset input[type="text"] {
		max-width: 50%;
		padding: 0.625em 0.4375em;
	}
}

.page-info {
	float: right;
}

.clear > .breadcumb {
	background-color: #efeff2;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	column-span: all;
	width: 100%;
	padding: 5px 0;
	margin:0 0 10px 0;
}

.breadcumb {
	float: left;
	list-style: none;
	margin:0;
	li {
		display: inline-block;
		&:after {
			content: "\f105";
			font-family: 'FontAwesome';
			margin: 0 5px;
			color: #eac286;
		}
		&:last-child:after {
			content: '';
		}
	}
	> li:first-child:before {
		content: "\f0c9";
		font-family: 'FontAwesome';
		margin: 0 5px;
		color: #eac286;
	}
}

.dw-button-set {
	float: right;
	button {
		font-size: 14px;
		margin-bottom: 20px;
		background-color: #b89869;
		border-radius: 4px;
		padding: 8px 10px;
		&.edit {
			background-color: #b7605a;
		}
		&:hover {
			background-color: #351e1c;
		}
	}
}

.dw-container #new-category-form {
	clear: both;
	padding: 10px;
	background-color: #eee;
	h3 {
		text-align:center;
	}

	fieldset {
		border: none;
		margin: 0 0 20px 0;
		&:nth-child(1){
			select, button {
				min-width:22%;
			}
			button {
				height: 40px;
				border:1px solid #ccc;
				border-radius: 5px;
				background-color:#909da9;
				color:#fff;
				box-shadow:none;
				padding:0;
				&:hover {
					background-color:#3b4045;
				}
			}
		}

		p { margin-bottom: 0; }
		p.note {
			padding:5px;
		}

		.agree {
			line-height:1.4em;
		}

		label {
			clear: both;
			display: block;
			font-weight: bold;
		}
		select {
			height: 40px;
		}
		input[type="text"], input[type="email"], textarea {
			background-color: #fff;
			width:100%;
		}
		input[type="button"],input[type="button"],button {
			background-color: #b89869;
			&:hover {
				background-color: #351e1c;
				color:#fff;
			}
		}
		.ness {
			&:before{
				content:'*';
				margin-right:5px;
				color:#ed430c;
				font-size:1.5em;
				position:relative;
				top:0.3em;
			}
		}

	}
}